@use '../settings';

.introduction {
    position: absolute;
    top: 10vh;
    left: 3.5vw;
    width: 80vw;
    display: none;

    &-inner {
        color: settings.$color-dark;
        position: absolute;
        font-size: 1em;

        .topline {
            font-size: 2em;
            font-weight: settings.$font-weight-bold;

            span {
                color: settings.$color-active;
            }
        }

        h1 {
            margin: 0;
            padding: 0;
            font-size: 3em;
            font-family: "Syne Mono", monospace;

            span {
                color: settings.$color-active;
            }
        }


        @media (max-aspect-ratio: 1/1) {}
    }

    @media (max-aspect-ratio: 1/1) {}
}