@use '../settings';

.planet {
    display: block;
    text-align: center;
    align-self: center;
    cursor: pointer;
    width: 100%;
    max-width: 15vw;
    padding: 5em 0;

    @media (max-aspect-ratio: 1/1) {
        width: inherit;
        max-width: inherit;
        height: 100%;
        max-height: 10em;
        max-width: 10em;
        padding: 0;
    }

    &-inner {
        text-align: center;
        position: relative;
        pointer-events: none;
    }

    &-planet {
        height: 10em;
        width: 10em;
        display: inline-block;

        @media (max-aspect-ratio: 1/1), (max-height: 720px) {
            height: 5em;
            width: 5em;
        }

        .system-satellites & {
            height: 5em;
            width: 5em;
        }
    }

    &-title {
        text-align: center;
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        top: calc(100% + 2em);
        transform: translate(0, -50%);

        @media (max-aspect-ratio: 1/1) {
            bottom: 50%;
            transform: translate(0, 50%);
            top: auto;
        }

        h2 {
            font-size: 1.5em;
            // text-transform: lowercase;
            //background-color: settings.$color-light;
            display: inline-block;
            color: settings.$color-light;
            margin: 0;
            //transition: all 0.25s ease-in-out;

            @media (max-aspect-ratio: 1/1) {
                background-color: settings.$color-black;
            }

            .highlight {
                background: linear-gradient(180deg, rgba(settings.$color-black, 0) 60%, settings.$color-black 50%);
            }
        }
    }

    &:hover {
        h2 {
            background-color: settings.$color-active;

            .highlight {
                background: linear-gradient(180deg, rgba(settings.$color-active, 0) 30%, settings.$color-active 0%);
            }
        }
    }
}