@use '../settings';

#sun {
    // background-color: settings.$color-active;
    position: absolute;
    width: 200vh;
    height: 200vh;
    left: calc(-200vh + 20vw);
    top: -50vh;
    z-index: 10;
    border-radius: 100%;

    @media (max-aspect-ratio: 1/1) {
        width: 200vw;
        height: 200vw;
        left: -50vw;
        top: calc(-200vw + 10em);
    }

    .desktop-lunar & {
        width: 120vw;
        height: 120vw;
        left: -10vw;
        top: -10vw;
    }
}