#systems .system-satellites {
    .desktop-satellites & {
        opacity: 1;
        pointer-events: inherit;
        z-index: 1;
    }

    button {
        position: absolute;
        bottom: 5em;
        z-index: 110;
    }
}