@use '../settings';

.system {
    z-index: 100;
    display: flex;
    width: 75vw;
    height: 100vh;
    position: absolute;
    flex-wrap: nowrap;
    justify-content: space-around;
    overflow: hidden;
    margin: 0;
    padding: 0 0 0 25vw;
    flex-direction: row;

    @media (max-aspect-ratio: 1/1) {
        flex-direction: column;
        width: 100vw;
        height: 75vh;
        padding: 10em 0 0 0;
    }
}