# dependencies
/node_modules

# next.js
/.next
/out

# production
/build

# copied from node_modules by `npm run vendor`
/public/vendor

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env*.local