@use 'settings';

html,
body,
#root,
.app {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

html,
body {
    font-size: settings.$base-size;
    color: settings.$color-dark;
    font-family: settings.$font-family-text;
}

.app {
    background-color: settings.$color-dark;
}

.button,
button,
input[type='submit'] {
    background-color: settings.$color-dark;
    border: 0.25em solid settings.$color-active;
    color: settings.$color-light;
    font-family: settings.$font-family-headline;
    font-weight: settings.$font-weight-bold;
    font-size: 1.5em;
    padding: 0.25em 1em 0.35em 1em;
    line-height: 1;
    cursor: pointer;
    z-index: 150;
    overflow: hidden;
    transition: background-color 0.5s ease-in-out;

    .text {
        position: relative;
        z-index: 2;
    }

    &:after {
        content: '';
        background-color: settings.$color-active;
        left: 0;
        top: 0;
        position: absolute;
        width: 1px;
        height: 1px;
        border-radius: 100%;
        transition: all 0.25s ease-in-out;
        z-index: 1;
    }

    &:hover {
        background-color: settings.$color-active;

        &:after {
            width: 20em;
            height: 20em;
            transform: translateX(-10em) translateY(-10em);
        }
    }

    &.back {
        position: absolute;
        left: 50%;
        bottom: 2.5em;
        transform: translateX(-50%);

        @media (max-aspect-ratio: 1/1) {
            bottom: 5em;
        }
    }
}