@use 'settings';

.logotype {
    width: 75vw;
    position: absolute;
    z-index: 50;
    left: 20vh;
    //border-bottom: 0.25rem solid settings.$color-dark;

    &-inner {
        color: settings.$color-active;
        //background-color: settings.$color-secondary;
        float:left;
        //border-right: 0.25rem solid settings.$color-dark;

        h1 {
            font-size: 3em;
            padding: 0em 1em;

            span {
                font-weight: normal;
            }

            strong {
                font-family: "Syne Mono", monospace;
            }
        }
    }
}