// colors
$color-light: #F2E2C4;
$color-medium: #F2B705;
$color-dark: #261D11;
$color-active: #A6290D;

// fonts
$base-size: 14px;
$font-family-text: 'Playfair Display';
$font-family-headline: 'Playfair Display';

$font-weight-normal: 300;
$font-weight-bold: 700;